name: graph_coloring
registered_version: GraphColoring-v1

network:
    num_transformer_layers: 2
    transformer_num_heads: 8
    transformer_key_size: 16
    transformer_mlp_units: [512]

training:
    num_epochs: 500
    num_learner_steps_per_epoch: 100
    n_steps: 20
    total_batch_size: 64

evaluation:
    eval_total_batch_size: 50000
    greedy_eval_total_batch_size: 50000

a2c:
    normalize_advantage: False
    discount_factor: 1.0
    bootstrapping_factor: 0.95
    l_pg: 1.0
    l_td: 1.0
    l_en: 1e-2
    learning_rate: 1e-4
