[flake8]
select = A,B,C,D,E,F,G,I,N,T,W
exclude =
    .tox,
    .git,
    __pycache__,
    build,
    dist,
    proto/*,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs
max-line-length=100
import-order-style = google
application-import-names = jumanji
doctests = True
docstring-convention = google
per-file-ignores = __init__.py:F401

ignore =
    D107  # Do not require docstrings for __init__
    W503  # line break before binary operator (not compatible with black)
    E731  # do not assign a lambda expression, use a def
    A002  # argument shadowing a python builtin
    A003  # class attribute shadowing a python builtin
