include LICENSE
include requirements/*
recursive-include * *.npy
recursive-include jumanji *.png
recursive-include jumanji *.jpeg

# remove the test specific files
recursive-exclude * *_test.py
recursive-exclude * conftest.py
