[tool.isort]
profile = "black"

[tool.mypy]
python_version = 3.8
namespace_packages = true
incremental = false
cache_dir = ""
warn_redundant_casts = true
warn_return_any = true
warn_unused_configs = true
warn_unused_ignores = false
allow_redefinition = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = false
strict_optional = true
strict_equality = true
explicit_package_bases = true
follow_imports = "skip"

[[tool.mypy.overrides]]
module = [
    "numpy.*",
    "dm_env.*",
    "tree.*",
    "pytest.*",
    "pyvirtualdisplay.*",
    "pygame.*",
]
ignore_missing_imports = true
