defaults:
    - _self_
    - env: snake  # [bin_pack, cleaner, connector, cvrp, multi_cvrp, game_2048, graph_coloring, job_shop, knapsack, maze, minesweeper, mmst, rubiks_cube, robot_warehouse, snake, sudoku, tsp]

agent: random  # [random, a2c]

seed: 0

logger:
    type: terminal  # [neptune, tensorboard, terminal]
    save_checkpoint: false  # [false, true]
    name: ${agent}_${env.name}
