coverage
livereload
mkdocs==1.6.1
mkdocs-git-revision-date-plugin==0.3.2
mkdocs-include-markdown-plugin==7.1.1
mkdocs-material==9.5.45
mkdocs-mermaid2-plugin==1.1.0
mkdocs_autorefs==1.2.0
mkdocstrings[python]==0.27.0
mknotebooks==0.8.0
mypy
pre-commit
promise
pymdown-extensions
pytest==7.0.1
pytest-cov
pytest-mock
pytest-parallel
pytest-xdist
scipy>=1.7.3
testfixtures
